Django>3.2,<3.3
asgiref
certifi==2023.7.22
charset-normalizer==2.0.12
comtypes==1.2.0
idna==3.4
pypiwin32==223
pyqt-switch==0.0.16
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
pyttsx3==2.90
pytz
pywin32==305
requests==2.27.1
sqlparse
typing_extensions==4.1.1
urllib3==1.26.18
